body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u884 {
  position:absolute;
  left:498px;
  top:2131px;
  width:205px;
  height:19px;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:10px;
}
#u886 {
  position:absolute;
  left:0px;
  top:2134px;
  width:502px;
  height:10px;
}
#u887 {
  position:absolute;
  left:2px;
  top:-3px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:9px;
}
#u888 {
  position:absolute;
  left:702px;
  top:2134px;
  width:498px;
  height:9px;
}
#u889 {
  position:absolute;
  left:2px;
  top:-4px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  position:fixed;
  left:50%;
  margin-left:-600.5px;
  top:0px;
  width:1201px;
  height:34px;
  overflow:hidden;
}
#u891_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u891_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 143, 205, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u893 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:2003px;
}
#u894 {
  position:absolute;
  left:150px;
  top:76px;
  width:955px;
  height:2003px;
}
#u895 {
  position:absolute;
  left:2px;
  top:994px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
