body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2615 {
  position:absolute;
  left:177px;
  top:51px;
  width:731px;
  height:149px;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u2616 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2617 {
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  word-wrap:break-word;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u2618 {
  position:absolute;
  left:233px;
  top:0px;
  width:171px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2619 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
}
#u2620 {
  position:absolute;
  left:404px;
  top:0px;
  width:322px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2621 {
  position:absolute;
  left:2px;
  top:11px;
  width:318px;
  word-wrap:break-word;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u2622 {
  position:absolute;
  left:0px;
  top:38px;
  width:233px;
  height:38px;
  font-size:12px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u2624 {
  position:absolute;
  left:233px;
  top:38px;
  width:171px;
  height:38px;
  font-size:12px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
}
#u2626 {
  position:absolute;
  left:404px;
  top:38px;
  width:322px;
  height:38px;
  font-size:12px;
  text-align:left;
}
#u2627 {
  position:absolute;
  left:2px;
  top:11px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:33px;
}
#u2628 {
  position:absolute;
  left:0px;
  top:76px;
  width:233px;
  height:33px;
  font-size:12px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u2630 {
  position:absolute;
  left:233px;
  top:76px;
  width:171px;
  height:33px;
  font-size:12px;
}
#u2631 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
}
#u2632 {
  position:absolute;
  left:404px;
  top:76px;
  width:322px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u2633 {
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:35px;
}
#u2634 {
  position:absolute;
  left:0px;
  top:109px;
  width:233px;
  height:35px;
  font-size:12px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2636 {
  position:absolute;
  left:233px;
  top:109px;
  width:171px;
  height:35px;
  font-size:12px;
}
#u2637 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
}
#u2638 {
  position:absolute;
  left:404px;
  top:109px;
  width:322px;
  height:35px;
  font-size:12px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:10px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2640 {
  position:absolute;
  left:177px;
  top:35px;
  width:724px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2641 {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  word-wrap:break-word;
}
#u2643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2643 {
  position:absolute;
  left:498px;
  top:272px;
  width:205px;
  height:19px;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2644 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:10px;
}
#u2645 {
  position:absolute;
  left:0px;
  top:275px;
  width:502px;
  height:10px;
}
#u2646 {
  position:absolute;
  left:2px;
  top:-3px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:9px;
}
#u2647 {
  position:absolute;
  left:702px;
  top:275px;
  width:498px;
  height:9px;
}
#u2648 {
  position:absolute;
  left:2px;
  top:-4px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2649 {
  position:absolute;
  left:475px;
  top:11px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2650 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2652 {
  position:fixed;
  left:50%;
  margin-left:-600.5px;
  top:0px;
  width:1201px;
  height:34px;
  overflow:hidden;
}
#u2652_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2652_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 143, 205, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2653 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2654 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
