body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2440 {
  position:absolute;
  left:177px;
  top:51px;
  width:731px;
  height:149px;
}
#u2441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u2441 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2442 {
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  word-wrap:break-word;
}
#u2443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u2443 {
  position:absolute;
  left:233px;
  top:0px;
  width:171px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2444 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u2445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
}
#u2445 {
  position:absolute;
  left:404px;
  top:0px;
  width:322px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u2446 {
  position:absolute;
  left:2px;
  top:11px;
  width:318px;
  word-wrap:break-word;
}
#u2447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u2447 {
  position:absolute;
  left:0px;
  top:38px;
  width:233px;
  height:38px;
  font-size:12px;
}
#u2448 {
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:38px;
}
#u2449 {
  position:absolute;
  left:233px;
  top:38px;
  width:171px;
  height:38px;
  font-size:12px;
}
#u2450 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u2451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
}
#u2451 {
  position:absolute;
  left:404px;
  top:38px;
  width:322px;
  height:38px;
  font-size:12px;
  text-align:left;
}
#u2452 {
  position:absolute;
  left:2px;
  top:11px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:33px;
}
#u2453 {
  position:absolute;
  left:0px;
  top:76px;
  width:233px;
  height:33px;
  font-size:12px;
}
#u2454 {
  position:absolute;
  left:2px;
  top:8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u2455 {
  position:absolute;
  left:233px;
  top:76px;
  width:171px;
  height:33px;
  font-size:12px;
}
#u2456 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u2457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
}
#u2457 {
  position:absolute;
  left:404px;
  top:76px;
  width:322px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u2458 {
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:35px;
}
#u2459 {
  position:absolute;
  left:0px;
  top:109px;
  width:233px;
  height:35px;
  font-size:12px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2461 {
  position:absolute;
  left:233px;
  top:109px;
  width:171px;
  height:35px;
  font-size:12px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:35px;
}
#u2463 {
  position:absolute;
  left:404px;
  top:109px;
  width:322px;
  height:35px;
  font-size:12px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:10px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2465 {
  position:absolute;
  left:177px;
  top:35px;
  width:724px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2466 {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  word-wrap:break-word;
}
#u2468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2468 {
  position:absolute;
  left:498px;
  top:272px;
  width:205px;
  height:19px;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2469 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:10px;
}
#u2470 {
  position:absolute;
  left:0px;
  top:275px;
  width:502px;
  height:10px;
}
#u2471 {
  position:absolute;
  left:2px;
  top:-3px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:9px;
}
#u2472 {
  position:absolute;
  left:702px;
  top:275px;
  width:498px;
  height:9px;
}
#u2473 {
  position:absolute;
  left:2px;
  top:-4px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2474 {
  position:absolute;
  left:475px;
  top:11px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2475 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2477 {
  position:fixed;
  left:50%;
  margin-left:-600.5px;
  top:0px;
  width:1201px;
  height:34px;
  overflow:hidden;
}
#u2477_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2477_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 143, 205, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2478 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2479 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
