body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2031 {
  position:absolute;
  left:498px;
  top:2131px;
  width:205px;
  height:19px;
  font-size:14px;
  color:#D7D7D7;
  text-align:center;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:10px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:2134px;
  width:502px;
  height:10px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:-3px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:9px;
}
#u2035 {
  position:absolute;
  left:702px;
  top:2134px;
  width:498px;
  height:9px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:-4px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038 {
  position:fixed;
  left:50%;
  margin-left:-600.5px;
  top:0px;
  width:1201px;
  height:34px;
  overflow:hidden;
}
#u2038_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2038_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 143, 205, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2040 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
